body {
    background-image: url("../images/greyfloral.png")
}
.header {
    overflow: hidden;
    padding: 25px;
    background-image: url("../images/IMG_1021.jpg");
    width: 100%;
}

.mePicture {
    width: auto;
    height: 150px;
    float: left;
    padding-left: 10px;
    padding-right: 20px;

}
/* .footer {
    overflow: hidden;
    background-color: rgb(110, 108, 108);
    position: sticky;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
    color: white;
    border-top: 8px;
} */
.content {
    background-color: white;
    position:absolute;
    top: 150px;
    left: 40px;
    display: block;
    width: 75%;
    margin: auto;
    border-style: groove;
    border-width: 10px;
    border-color: rgb(248, 246, 247);   
}
.content2 {
    background-color: rgb(248, 208, 184);
    position:absolute;
    top: 150px;
    right: 40px;
    height: 600px;
    display: block;
    width: 15%;
    margin: auto;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(253, 253, 252);  
}
.cHeaders {
    text-decoration: underline;
    font-weight: bold;
    color: rgb(92, 89, 89);
}
.cInfo {
    text-indent: 30px;
}
.email {
    font-size: 16px;
}
a {
    color: rgb(247, 122, 51);
}
p {
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    color: rgb(100, 98, 98);
    text-align: justify;
    line-height: 1.4;
}

.headerName {
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(240, 191, 199);
    color: white;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    width: 80%;
    margin: 0 auto;
}

.content::after {
    content: "";
    clear: both;
    display: block;
}