.header {
    overflow: hidden;
    padding: 0px;
    padding-left: 95px;
    background-color: white;
    width: 100%;
}
.footer {
    overflow: hidden;
    background-color: rgb(110, 108, 108);
    position: sticky;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
    color: white;
    border-top: 8px;
}
.content {
    background-color: white;
    display: block;
    width: 960px;
    margin: auto;
}